<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">S4G Admin panel</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="<%= user.pathToAvatar %>"
                alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    <strong><%= user.Username %></strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown active">
                    <a href="#">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                    <div class="sidebar-submenu" style="display:block;">
                        <ul>
                            <li>
                                <a href="/admin/change-avatar">Change avatar</a>
                            </li>
                            <li>
                                <a href="/admin/change-password">Change password</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>E-commerce</span>
                        <span class="badge badge-pill badge-danger">0</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="/admin/products">Products</a>
                            </li>
                            <li>
                                <a href="/admin/orders">Orders</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-menu">
                    <span>Actions</span>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out-alt"></i>
                        <span>Log out</span>
                    </a>
                </li>
                <li class="header-menu">
                    <span>Navigation</span>
                </li>
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                        <span>Homepage</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
</nav>