<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>

<body>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/contact">Contact</a></li>
  
    <li class="float-right" id="signup">
        <a href="/signup">Sign up</a>
    </li>

    <li class="float-right" id="login">
      <a id="login-trigger" href="#">Log in</a>                         
    </li>
  </ul>
</nav>

<div id="login-container" class="modal-container">  
  <div id="login-content" class="modal-content">
    <span id="login-close-button" class="close-button">&times;</span>
    <form>
      <fieldset id="inputs">
        <label class="block-label">Username:</label>
        <input id="username" type="email" name="Email" placeholder="Your username" required>   
        <label class="block-label">Password:</label>
        <input id="password" type="password" name="Password" placeholder="Password" required>
      </fieldset>
      
      <a href="/forgotpassword">Forgot password?</a>

      <fieldset id="actions">
        <label class="block-label" style="width: 100%"><input type="checkbox" checked="unchecked">Stay logged in</label>
        <button type="submit" id="submit" value="Log in">Log in</button>        
      </fieldset>
    </form>
  </div>
</div>

<h3>FORGOT PASSWORD</h3>

<script>
  var loginTrigger = document.getElementById("login-trigger");
  var loginContainer = document.getElementById("login-container");
  var closeButton = document.getElementById("login-close-button");
  loginTrigger.onclick = function() {
    loginContainer.style.display = "block";
    console.log("Clicked on \"login\"");
  }

  // When user clicks on (x), close the modal
  closeButton.onclick = function() {
      loginContainer.style.display = "none";
      console.log("Clicked on (x)");
  }

  // When user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == loginContainer) {
      loginContainer.style.display = "none";
      console.log("Clicked outside login window");
    }
  }
</script>

</body>
</html>
