<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../partials/head %>
  </head>
  <body>
    <!--================Menu Area =================-->
    <header class="shop_header_area carousel_menu_area">            
      <%- include ../../partials/navbar-small %>
    </header>
    <!--================End Menu Area =================-->
    <h2>Category 4</h2>

    <%- include ../../partials/scripts %>
  </body>
</html>