<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../partials/head %>
    <link href="/css/admin-panel.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- Page wrapper -->
    <div class="page-wrapper chiller-theme toggled">
      <%- include ../../partials/admin-sidebar %>
      <!-- page-content" -->
      <main class="page-content">
        <div class="container-fluid">

          <div class="col mx-auto my-auto" style="margin-bottom: 2rem;">

            <h2 class="text-center text-primary-color">Change password</h2>
            <div class="row" style="margin-bottom: 2rem;"></div>          

            <form class="login_form row" action="/admin/change-password" method="post">
              <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4 form-group">
                <input class="form-control" type="password" placeholder="Old password" name="old_pass">
              </div>
              <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4 form-group">
                <input class="form-control" type="password" placeholder="New password" name="new_pass">
              </div> 
              <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4 form-group">
                <input class="form-control" type="password" placeholder="Re-New password" name="re_new_pass">
              </div>
              <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4 form-group">
                <button type="submit" value="submit" class="btn subs_btn form-control">Change password</button>
              </div>
            </form>         
          </div><!--/col-->         
          
        </div>
        
        <footer class="footer_area">
          <%- include ../../partials/footer %>
        </footer>
      </main>
    </div>

    <!--================Scripts=========================-->
    <%- include ../../partials/scripts %>
    <script src="/js/admin.js"></script>
    <!--================End scripts=========================-->
  </body>
</html>