<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../../partials/head %>
    <link href="/css/admin-panel.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <!-- Page wrapper -->
    <div class="page-wrapper chiller-theme toggled">
      <%- include ../../partials/admin-sidebar %>
      <!-- page-content" -->
      <main class="page-content">
        <div class="container-fluid">

          <h2>Coming soon.</h2>
                   
          
        </div>
        <footer class="footer_area">
          <%- include ../../partials/footer %>
        </footer>
      </main>
    </div>

    <!--================Scripts=========================-->
    <%- include ../../partials/scripts %>
    <script src="/js/admin.js"></script>
    <!--================End scripts=========================-->
  </body>
</html>